*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resp{
    width: 100%;
    height: auto;
}

.first-head{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disconnect{
    margin-right: 30px;
}

li{
    list-style-type: none;

}

a{
    text-decoration: none !important;
    color: black !important;
}


.flex{
    display: flex;
    align-items: center;
}

.logo{
    width: 150px;
    margin: 30px;
    margin-top: 35px;
}

form{
    width: 55%;
    margin: 30px auto;

}

#search input{
    border: none;
    margin-left: 2%;
}

#search{
    border: 1px solid silver;
    border-radius: 40px 40px;
}

#search button{
    border-radius: 0 40px 40px 0;
    border: none;
    background: #FFEA01;
    width: 130px;
    color:white;
    margin-left: auto;
    padding: 12px;
    cursor: pointer;
}

.connection :first-child{
    margin-right: 10px;
    padding: 5px;
    font-weight: bold;
}

.connection :last-child{

    padding: 5px;
    font-weight: bold;
}


.connection{
    margin-right: 15px;

}

#nav-head ul{

    justify-content: space-between ;


}

#nav-head li{
    width: 191px;
    border-radius: 10px ;
    transition: 0.4s ease;
    text-align: center;
    padding: 15px 0;
}

#nav-head li:hover{
    background-color: #FFEA01;
}

.imageArticle{
    width: 20%;
}
