{% extends ('front/base.html.twig') %}

{% block metaTitle %}
    Accueil
{% endblock metaTitle %}


{% block main %}
    <div class="carouBg d-flex justify-content-around ">
        <div class="margp">
            <p>Bienvenue sur BUBBLE</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide carou" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active w-100">
                    <img src="{{ asset('uploads/' ~ articles[0].image) }}" class="d-block carouresp" alt="...">
                </div>
                {% for article in articles | slice(1,5) %}
                    <div class="carousel-item w-100">
                        <img src="{{ asset('uploads/' ~ article.image) }}" class="d-block carouresp" alt="..." >
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="margp">
            <p>Venez découvrire nos créateurs et leurs articles</p>
        </div>

    </div>

{% endblock main %}

